<div id="menu-cervezas">
    <ul class="lista-cerveza">
        <li class="li-cerveza"><a href="#honey"> Honey</a></li>
        <li class="li-cerveza"><a href="#red">Red</a> </li>
        <li class="li-cerveza"><a href="#porter"> Porter</a></li>
        <li class="li-cerveza"><a href="#barleywine">Barley wine</a> </li>
        <li class="li-cerveza"><a href="#ipa"> Ipa</a></li>
        <li class="li-cerveza"><a href="#stout"> Stout</a></li>
        <li class="li-cerveza"><a href="#pilsenlager"> Pilsen Lager</a></li>
        <li class="li-cerveza"><a href="#descripcion-cervezas">Descripción</a></li>
    </ul>
</div>

<div class="contenedor-cervezas">

    <div class="fotos-cervezas">

        <div id="honey">
            <div class="img-cervezas">
                <img src="../assets/imagenes/honey.png" alt="">
            </div>
            <div class="detalle-cerveza">
                <p> <span> Honey</span> <br> Cerveza dorada elaborada con el agregado de la mejor miel selecta de la
                    zona – que le brinda su sabor
                    característico – y hace de ésta una bebida con graduación alcohólica por sobre la media. Sus
                    notas
                    dulces se perciben en el aroma manteniendo un retrogusto muy agradable.</p>
                <a href="#menu-cervezas"><img src="../assets/imagenes/menu.png" alt=""></a>
            </div>
        </div>

        <div id="red">
            <div class="img-cervezas">
                <img src="../assets/imagenes/red.png" alt="">
            </div>
            <div class="detalle-cerveza">
                <p><span> Red</span> <br>Cerveza de color rubí y cuerpo medio, con un toque de elegantes
                    lúpulos, elaborada con 6 diferentes
                    tipos de maltas que le aportan sabores únicos. Es uno de los estilos de cerveza bien
                    balanceados
                    cuyo amargor de baja moderación y su sabor acaramelado, dejan una sequedad tostada al final.</p>
                <a href="#menu-cervezas"><img src="../assets/imagenes/menu.png" alt=""></a>
            </div>

        </div>

        <div id="porter">
            <div class="img-cervezas">
                <img src="../assets/imagenes/porter.png" alt="">
            </div>
            <div class="detalle-cerveza">
                <p><span>Porter</span> <br> Cerveza de origen inglés, de color amarronado y buen cuerpo. De
                    moderado aroma, las maltas tostadas
                    son protagonistas, impartiendo un carácter tostado intenso de chocolate, café y nuez. El
                    sabor a
                    lúpulo es bajo y la capa de espuma es blanquecina o canela, con una retención entre buena y
                    justa.</p>
                <a href="#menu-cervezas"><img src="../assets/imagenes/menu.png" alt=""></a>
            </div>
        </div>
        <div id="barleywine">
            <div class="img-cervezas">
                <img src="../assets/imagenes/barley.png" alt="">
            </div>
            <div class="detalle-cerveza">
                <p><span>Barley Wine</span><br>Cerveza fuerte, alicorada, vinosa, color cobrizo claro a
                    marrón oscuro, balanceada y cítrica. Tiene
                    abundante cuerpo y un sabor maltoso, acaramelado y dulzón. Su complejidad en alcohol y
                    carácter de
                    notas frutales elevados, son contrabalanceados por la percepción de un leve amargor. Las
                    notas
                    licorosas fusionan con la nuez moscada y el cacao.</p>
                <a href="#menu-cervezas"><img src="../assets/imagenes/menu.png" alt=""></a>
            </div>
        </div>
        <div id="ipa">
            <div class="img-cervezas">
                <img src="../assets/imagenes/ipa.png" alt="">
            </div>
            <div class="detalle-cerveza">
                <p><span> Ipa</span><br>La India Pale Ale es una cerveza fuerte de color ámbar con un
                    aroma intenso floral y frutal, de
                    lúpulos seleccionados en su elaboración. Su amargor es elevado y se encuentra en
                    balance con el
                    dulzor aportado por las maltas. Muy sabrosa, intensa, de buen cuerpo y compleja como
                    para no
                    olvidarla fácilmente.</p>
                <a href="#menu-cervezas"><img src="../assets/imagenes/menu.png" alt=""></a>

            </div>
        </div>
        <div id="stout">
            <div class="img-cervezas">
                <img src="../assets/imagenes/stout.png" alt="">
            </div>
            <div class="detalle-cerveza">
                <p><span>Stout </span><br>Las Stout son cervezas muy oscuras, prácticamente de color
                    negro, y poseen un perfil de sabor
                    profundamente tostado. Esto se logra realizándolas con maltas tostadas tan
                    tostadas que ya pasarían
                    a ser quemadas. Aunque no siempre son consideradas como ALES por los
                    consumidores, estas cervezas
                    utilizan levaduras de fermetación alta y como tales son miembro de la familia
                    ale. </p>
                <a href="#menu-cervezas"><img src="../assets/imagenes/menu.png" alt=""></a>
            </div>

        </div>

        <div id="pilsenlager">
            <div class="img-cervezas">
                <img src="../assets/imagenes/Pilsen Lager.png" alt="">
            </div>
            <div class="detalle-cerveza">
                <p><span>Pilsen Lager</span> <br>Las cervezas Pilsen son un tipo de cerveza muy
                    refrescante que presenta numerosas variantes. Su
                    identidad es única y muy concreta, debido especialmente a sus ingredientes y a
                    su proceso de
                    elaboración. Además, este tipo de cervezas se hacen con maltas de Moravia tipo
                    Pilsen, muy suave,
                    clara y dulce, típica de las lager doradas.</p>
                <a href="#menu-cervezas"><img src="../assets/imagenes/menu.png" alt=""></a>
            </div>

        </div>

    </div>
    <div id="descripcion-cervezas">
        
        <a href="#menu-cervezas"><img src="../assets/imagenes/menu.png" alt=""></a>


    </div>
