

       <!--       header          -->
       <header>
        <!--       logo shelby          -->
        <div class="logo">
            <img id="logo-shelby" src="../assets/imagenes/Shelby Beer logo.png" alt="logo" srcset="">

        </div>
    </header>

    <!--       navegador          -->
    <nav class="navegador">

        <ul class="botonera">
            <li class="li-item"><a [routerLink]="['/home']">Home</a></li>
            <li class="li-item"><a [routerLink]="['/cervezas']">Cervezas</a></li>
            <li class="li-item"><a [routerLink]="['/shop']">Compra</a></li>
            <li class="li-item"><a [routerLink]="['/contacto']">Contacto</a></li>
        
            
                <img id="redes" src="../assets/imagenes/facebook.png" alt="logo-facebook">
                <img id="redes" src="../assets/imagenes/twitter.png" alt="logo-twitter">
                <img id="redes" src="../assets/imagenes/instagram.png" alt="logo-instagram">
           

        
        </ul>    

  

    </nav>

<div><router-outlet></router-outlet>
</div>

 <!--       Footer          -->
 <footer class="footer">
    <div class="logo-footer">
        <!--       logo shelby          -->

        <img id="footer-shelby" src="../assets/imagenes/Shelby Beer logo.png" alt="logo" srcset="">

    </div>


    <div class="contenedor-info">
        <div class="subscripcion">
            <p>SUSCRIBITE A NUESTRO NEWSLETTER</p>
            <form action="">
                <input type="email" name="email" class="email" value="Ingrese su mail @">
                <input type="submit" id="submit" class="form-button" name="" value="Enviar">
            </form>

        </div>

        <div class="redes-sociales">
            <ul class="ul-footer">
                <li> <img id="logos-redes" src="../assets/imagenes/facebook.png" alt="logo-facebook"> Facebook</li>
                <li><img id="logos-redes" src="../assets/imagenes/twitter.png" alt="logo-twitter"> Twitter</li>
                <li><img id="logos-redes" src="../assets/imagenes/instagram.png" alt="logo-instagram"> Instagram</li>
            </ul>


        </div>

        <div class="direccion">
            <ul class="ul-footer">
                <li>Shelby Beer</li>
                <li>9 de julio 807 (7000)</li>
                <li>Tandil Buenos Aires</li>
                <li>ShelbyBeer@gmail.com</li>
            </ul>

        </div>

    </div>
    <hr class="hr-footer">
    <div class="derecho-de-pagina">
        <p>&copy;SHELBY BEER CO. ALL RIGHTS RESERVED.</p>
    </div>

</footer>


